@model IEnumerable< ProductSearchEngine.Domain.Eitities.Product>

<form method="post">
    <div class="d-grid gap-3">
        <div class="form-group">
            <label class="control-label col-md-2" for="categories">Product Category</label>
            <div class="col-8">
                <select name="category" class="form-select" aria-label="Default select example">
                    <option selected>Select the Product Category</option>
                    <option value="1">Mobile</option>
                    <option value="2">Refrigerator</option>
                    <option value="3">Tv</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="categories">Site</label>
            <div class="col-8">
                <select name="site" class="form-select" aria-label="Default select example">
                    <option selected>Select the Search Site</option>
                    <option value="1">Mercado Livre</option>
                    <option value="2">Buscapé</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Product Description</label>
            <div class="col-8">
                <input type="text" name="description" class="form-control" id="description"  placeholder="Description">
            </div>
        </div>
        <!-- 2 column grid layout for inline styling -->
        <div class="form-group">
            <div class="col-8">
                <input type="submit" value="Search" class="btn btn-success w-100" />
            </div>
        </div>

    </div>
</form>

<br />
<br />

<table class="table">
    <tr>
        <th>
            Product
        </th>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Description
        </th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>
                <img src="@item.Img" alt="@item.Name" />
            </td>
            <td>
                @Html.Raw(item.Name)
            </td>
            <td>
                @Html.Raw(item.Category.Name)
            </td>
            <td>
                @Html.Raw(item.Description)
            </td>
        </tr>
    }
</table>